@media (max-width: 768px)  {  
    nav div {
        align-items: flex-start;
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .col-md-6{
        margin-bottom: 20px;
    }
}

@keyframes moveGrid {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

.background-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #000000;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1.5px, transparent 1.5px);
    background-size: 30px 30px;

    z-index: -1;

    animation: moveGrid 20s linear infinite;
}

main{
    flex: 1;
    min-height: 120vh;
}

body {
    margin: 0;
    background: linear-gradient(to right,#000000, #003747);
    min-width: 320px;
    color: white;
    display: flex;           
    flex-direction: column; 
    min-height: 100vh; 
}

.container h1 {
    color: white;
}

.col-md-6 {
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    padding: 15px 30px;
}

nav > a {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color:#E0E006;
}

nav div {
    display: flex;
    gap: 20px;
}

.card{
    background-color: #1a1a1a;
    border: none;
    border-radius: 15px;
    padding: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.card h3 {
    transition: 0.3s;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.1), transparent);
    transition: 0.5s;
}

.card:hover::before{
    left: 100%;
}

.card h3,
.card p{
    transition: 0.3s;
}

.card:hover h3 {
    color: #E0E006;
}

.card:hover p {
    color: #ccc;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #E0E006 !important;
    border-color: #E0E006 !important;
    color: black !important;
}

.about,
.contact {
    text-align: center;
    padding: 40px 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
    margin-top: 5px;
}

.about.show,
.contact.show {
    opacity: 1;
    transform: translateY(0);
}

.about h2,
.contact h2 {
    color: white;
    margin-bottom: 20px;
}

.about p,
.contact p {
    color: #ccc;
    margin: 0 auto 15px;
    max-width: 600px;
}

.footer {
    width: 100%;
    background-color: #111;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    margin: 5px 0;
    color: #aaa;
    font-size: 14px;
}
